/* Reset Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/**************
Utility
**************/
body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial',
        sans-serif;
    color: white;
    text-align: center;
}

h1,
h2 {
    margin: 1rem 0;
}

h2 {
    height: 30px;
}

label {
    padding-right: 1rem;
}

input,
select,
button {
    border: none;
    border-radius: 4px;
    padding: 0.2rem;
}

button {
    cursor: pointer;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: royalblue;
}


/**************
Main
**************/
.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    margin-bottom: 2rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid white;
}

.blue {
    background-color: royalblue;
}

.red {
    background-color: #DE5471;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    margin: auto;
}


/**************
Footer
**************/
footer {
    margin: 1rem;
}